In [1]:
!

# Evaluation of mirkatai's hability to retrive the correct information

This will be the evaluation on the correctness and time of the SQL module of th AI agente miRKAtAI vs the expected output.

File sql_eval_question_answer.tsv contains the questions, the query to get the rigth answer and the Answer. 
File dificulty.tsv has the question, if the answer has a unique word or numbes as answer (Unique answer) and a Dificulty column that goes from 1 to 4. Being 1 the basic instructions

In [2]:
base_path = '/home/karen/Documents/GitHub/MirKatAI/evaluation/data'
questions_file = f'{base_path}/sql_eval_question_answer.tsv'
difficulty_file = f'{base_path}/dificulty.tsv'

In [3]:
%matplotlib inline

import pandas as pd
import numpy as np
import app.mirkat.sql_functions as sql_functions

import os
import app.nodes as nodes

import json
from langchain_core.messages import (
    AIMessage,
    SystemMessage
)
import time

/home/karen/Documents/GitHub/MirKatAI/.venv/lib/python3.11/site-packages/pydantic/_internal/_generate_schema.py:623: UserWarning: <built-in function any> is not a Python type (it may be an instance of an object), Pydantic will allow any object with no validation since we cannot even enforce that the input is an instance of the given type. To get rid of this error wrap the type with `pydantic.SkipValidation`.
  warn(
2025-10-14 20:28:59,269 - INFO - package: mysql.connector.plugins
2025-10-14 20:28:59,280 - INFO - plugin_name: caching_sha2_password
2025-10-14 20:28:59,280 - INFO - AUTHENTICATION_PLUGIN_CLASS: MySQLCachingSHA2PasswordAuthPlugin

In [4]:
import concurrent.futures

In [5]:
# Collect questions
questions_df = pd.read_csv(questions_file, sep='\t', index_col=0)
questions_df = questions_df.dropna(subset=['Question', 'Query', 'Answer'])
questions_df = questions_df.drop_duplicates(subset=['Question', 'Query', 'Answer'])
questions_df = questions_df.reset_index(drop=True)

# Collect dificulty
difficulty_df = pd.read_csv(difficulty_file, sep='\t', index_col=0)
difficulty_df = difficulty_df.dropna(subset=['Question', 'Unique answer', 'Dificulty'])
difficulty_df = difficulty_df.drop_duplicates(subset=['Question', 'Unique answer', 'Dificulty'])
difficulty_df = difficulty_df.reset_index(drop=True)
# Merge questions and difficulty
questions_df = pd.merge(questions_df, difficulty_df, on='Question', how='left')
questions_df = questions_df.dropna(subset=['Dificulty'])
questions_df = questions_df.reset_index(drop=True)

questions_df.head(2)

,Question,Query,Answer,Unique answer,Dificulty
0,How many unique mature microRNAs are in the da...,SELECT COUNT(DISTINCT auto_mature) FROM mirna_...,49155,Y,1
1,List all known species (organisms) for which m...,SELECT DISTINCT name FROM mirna_species;,+---------------------------------------------...,N,1

## Manual SQL queries

In [6]:
from dotenv import load_dotenv


from app.mirkat.sql_functions import (
    MySqlConnection,
    DBTools
)

mirkat_path = "/home/karen/Documents/GitHub/MirKatAI/"


# Load .env file
load_dotenv()
# Get the API key


pwd = os.getcwd()


mirkat_columns_desctiption = pd.read_csv(mirkat_path+'tables/mirkat_tables_columns_descriptions.csv')
mirkat_tables_desctiption = pd.read_csv(mirkat_path+'tables/mirkat_tables_descriptions.csv')

In [7]:
### SQL connection


config = {
    'user': os.getenv('MIRKAT_USER'),
    'password': os.getenv('MIRKAT_PASSWORD'),
    'host': os.getenv('MIRKAT_HOST'),
    'database': os.getenv('MIRKAT_DATABASE'),
    'raise_on_warnings': True
}

mysql_connection = sql_functions.MySqlConnection(config)
db_conn = mysql_connection.connect_sql()

db_tools = DBTools(db_conn, mirkat_tables_desctiption, mirkat_columns_desctiption)
def reset_sql_conf():
    # This functions just restart the db connections
    global mysql_connection, db_conn, db_tools

    mysql_connection = sql_functions.MySqlConnection(config)
    db_conn = mysql_connection.connect_sql()

    db_tools = DBTools(db_conn, mirkat_tables_desctiption, mirkat_columns_desctiption)

## Agent based sql queries

In [8]:

_,_,_,sql_node,_ = nodes.create_nodes()

In [9]:
import multiprocessing
# add logs
import logging
# Logging configuration
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s',
    handlers=[
        logging.FileHandler('mirkat_sql_evaluation.log'),
        logging.StreamHandler()
    ],
    encoding='utf-8'  # Ensure log messages are UTF-8 encoded
)

def run_with_timeout(func, *args, timeout=30, **kwargs):
    def wrapper(q, *args, **kwargs):
        try:
            result = func(*args, **kwargs)
            q.put(("ok", result))
        except Exception as e:
            q.put(("error", e))

    q = multiprocessing.Queue()
    p = multiprocessing.Process(target=wrapper, args=(q, *args), kwargs=kwargs)
    p.start()
    p.join(timeout)

    if p.is_alive():
        print("TimeoutError at run_with_timeout")
        p.terminate()
        p.join()
        logging.error("Operation time out")
        raise TimeoutError("Operation timed out")

    status, value = q.get()
    if status == "error":
        logging.error(f"Error occurred in run_with_timeout: {value}")
        raise value
    print(f"In run_with_timeout, response is type {type(value)} and value is {value}")
    logging.info(f"In run_with_timeout, response is type {type(value)} and value is {value}")
    return value


def sql_run_model(query: str):
    """
    This will run the query using the AI model
    """
    _,_,_,sql_node,_ = nodes.create_nodes()
    logging.info(f"Running sql_run_model with query: {query}")
    messages = f"***SQL*** {query}"
    ai_message = AIMessage(content=messages)
    start_time = pd.Timestamp.now()
    # add response timeout if the call for sql_node takes more than 30 sec
    try:
        result = sql_node.run_model(ai_message)
    except TimeoutError:
        logging.warning(f"Timeout question {query}")
        result = AIMessage(content="Timeout")
    except Exception as e:
        print(f"Error question {query}: {e}")
        logging.error(f"Error question {query}: {e}")
        result = AIMessage(content=f"Error: {e}")
        
    end_time = pd.Timestamp.now()
    time_taken = (end_time - start_time).total_seconds()
    if type(result.text) == str:
        result_content = result.text
    else:
        result_content = result.text()
    return result_content, time_taken
def sql_run(query: str):
    """
    This will run the query using the MySQL connection
    """
    start_time = pd.Timestamp.now()
    try:
        result = db_tools.execute_query(query, 'test_query')
    except TimeoutError:
        result = "Timeout"
        print(f"Timeout question {query}")
    end_time = pd.Timestamp.now()
    time_taken = (end_time - start_time).total_seconds()
    return result, time_taken

In [10]:
def evaluate_unique_answer(unique_answer_question, asnwers_log = '/home/karen/Documents/GitHub/MirKatAI/evaluation/results/unique.txt', n=1, answer_registry={}):
    # for every question with Unique answer = Y, run the agent and evaluate if the answer contains the unique answer. Register the time it took
    n_order = 0
    for question_row in unique_answer_question.iterrows():
        
        print (question_row, "type", type(question_row))
        question = question_row[1]['Question']
        print('Question:', question)
        true_answer = question_row[1]['Answer']
        # run agent
        n_order = n_order + 1
        answer, response_time = sql_run_model(question)
        # Check if the agent's response contains the unique answer
        print(answer, response_time)
        correct_flag = true_answer in answer
        #append answer to answers_log
        with open(asnwers_log, 'a') as log_file:
            log_file.write(f"{time.time()} Q{n_order}: {question} - try {n} - Answer: {answer} - Rwesponse time: {response_time} \n")
        if question in answer_registry:
            answer_registry[question]['Response Time'].append(response_time)
            answer_registry[question]['Correct'].append(correct_flag)
            answer_registry[question]['Expected'] = true_answer
            answer_registry[question]['Answers'].append(answer)
            answer_registry[question]['Question_n'].append(n_order)
        else:
            answer_registry[question] = {
                'Response Time': [response_time],
                'Correct': [correct_flag],
                'Expected': true_answer,
                'Answers': [answer],
                'Question_n': [n_order]
            }
        time.sleep(2)
            

    return answer_registry

In [11]:
unique_answers_df = questions_df[questions_df['Unique answer']=='Y']

In [28]:
answer_registry ={}
sql_node = nodes.sql_node
long_rest_interval = 10  # Number of iterations after which to take a long rest
long_rest_duration = 300  # Duration of the long rest in seconds (5 minutes)
current_iteration = 0
for i in range(20):

    # order randomly the questions
    #unique_answers_random_df = unique_answers_df.sample(frac=1).reset_index(drop=True)
    # get only question 'In which tissue is the miRNA 'hsa-miR-143-3p' most highly expressed ' or  'In which tissue is the miRNA 'hsa-miR-143-3p' most highly expressed'
    unique_answers_random_df = unique_answers_df[unique_answers_df['Question'].isin(["In which tissue is the miRNA 'hsa-miR-143-3p' most highly expressed ", "In which tissue is the miRNA 'hsa-miR-143-5p' most highly expressed"])]
    display(unique_answers_random_df)
    answer_registry =evaluate_unique_answer(unique_answers_random_df, asnwers_log = '/home/karen/Documents/GitHub/MirKatAI/evaluation/results/unique.txt', n=i, answer_registry=answer_registry)

    current_iteration += 1
    if current_iteration % long_rest_interval == 0:
        print(f"Taking a long rest after {current_iteration} iterations.")
        time.sleep(long_rest_duration)
        current_iteration = 0  
    time.sleep(5)

Empty DataFrame
Columns: [Question, Query, Answer, Unique answer, Dificulty]
Index: []

KeyboardInterrupt:

In [26]:
unique_answers_df

,Question,Query,Answer,Unique answer,Dificulty
0,How many unique mature microRNAs are in the da...,SELECT COUNT(DISTINCT auto_mature) FROM mirna_...,49155,Y,1
2,Which species from the database is marked with...,Select name from mirna_species group by name h...,Merkel cell polyomavirus,Y,2
3,How many miRNA target interactions are recorde...,SELECT count(*) FROM gene_mirna WHERE mirna_ma...,1492,Y,1
7,What is the seed sequence for 'hsa-miR-9-5p'?,Select seed from mirna_seeds where auto_mature...,CUUUGGU,Y,1
8,How many interactions are experimentally valid...,SELECT count(*) FROM gene_mirna WHERE source =...,7694,Y,1
9,What is the probability for the predicted inte...,select * from gene_mirna where mirna_mature = ...,0,Y,1
20,How many unique miRNAs target the gene 'GRM5' ...,select count(distinct mirna_mature) from gene_...,307,Y,1
21,How many unique miRNAs target the gene 'FEZ2' ...,select count(distinct mirna_mature) from gene_...,75,Y,1
22,How many unique miRNAs target the gene 'STUM' ...,select count(distinct mirna_mature) from gene_...,278,Y,1
23,How many mirnas that target FEZ2 ( including i...,SELECT COUNT(DISTINCT mt.mirna) AS num_mir...,2,Y,2
24,How many mirnas that target STUM ( including i...,SELECT COUNT(DISTINCT mt.mirna) AS num_mir...,4,Y,2
25,In which tissue is the miRNA 'hsa-miR-143-3p' ...,select mt.organ from mirna_tissues mt where mt...,bladder,Y,1
26,How many unique seed sequences are associated ...,SELECT COUNT(DISTINCT ms.seed) AS unique_h...,699,Y,2
27,What is the minimum interaction score recorded...,select min(gm.probability) from gene_mirna gm...,50,Y,2
28,How many gene-miRNA interactions are recorded ...,SELECT COUNT(*) FROM gene_mirna WHERE source =...,6831595,Y,1
29,How many gene-miRNA interactions are recorded ...,SELECT COUNT(DISTINCT gn.gene_symbol) AS uniqu...,17352,Y,2

In [16]:
pd.DataFrame(answer_registry)

,How many unique miRNAs target the gene 'GRM5' including its reference sequences ?,How many mirnas that target FEZ2 ( including its reference sequences) are also expressed in muscle with a organ_TSI > 0.5,How many unique mature microRNAs are in the database?,Which species from the database is marked with two or more organisms,How many gene-miRNA interactions are recorded that originate from the database 'miRDB'?,What is the minimum interaction score recorded for any miRNA targeting the gene 'VEGFA' including its reference sequences ?,How many miRNA target interactions are recorded for the miRNA 'hsa-miR-143-3p'?,What is the seed sequence for 'hsa-miR-9-5p'?,What is the probability for the predicted interaction between 'hsa-miR-22-3p' and the gene 'SIRT1' including its reference sequences (refseq)?,How many unique miRNAs target the gene 'STUM' including its reference sequences ?,How many mirnas that target STUM ( including its reference sequences ) are also expressed in muscle with a organ_TSI > 0.5,How many interactions are experimentally validated (source is 'miRTarBase')?,How many unique miRNAs target the gene 'FEZ2' including its reference sequences ?,How many unique seed sequences are associated with human miRNAs?,In which tissue is the miRNA 'hsa-miR-143-3p' most highly expressed,How many gene-miRNA interactions are recorded that originate from the database 'miRDB' from unique gene symbols?
Response Time,"[12.886559, 12.086426, 12.096433, 12.007489, 1...","[2.491516, 2.460368, 2.794193, 2.696787, 3.212...","[1.557451, 1.7662499999999999, 1.613115, 1.702...","[0.739929, 0.679385, 0.743183, 0.777748, 0.636...","[9.471009, 9.360354, 9.547693, 9.8698529999999...","[13.443455, 13.52783, 13.64605, 14.669205, 13....","[1.665988, 1.816568, 2.095855, 1.850717, 1.875...","[1.66527, 1.641788, 1.717432, 1.868747, 1.7157...","[5.05319, 5.068398, 5.562333, 5.426047, 5.3411...","[12.114549, 0.64081, 0.846683, 0.712854, 0.718...","[2.510014, 2.6769439999999998, 2.582528, 2.690...","[9.017892, 8.837927, 9.067635, 9.040962, 9.135...","[11.904678, 18.460946, 12.214048, 11.832598, 1...","[1.870697, 1.851346, 2.075484, 2.065714, 2.020...","[3.929695, 4.054056, 4.437605, 4.385544, 4.184...","[14.569184, 14.568149, 14.065654, 8.161417, 14..."
Correct,"[False, False, False, False, False, False, Fal...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, True, True, Tru...","[False, False, False, False, False, False, Fal..."
Expected,307,2,49155,Merkel cell polyomavirus,6831595,50,1492,CUUUGGU,0,278,4,7694,75,699,bladder,17352
Answers,[There are 97 unique miRNAs that target the ge...,[There are 2 microRNAs that target FEZ2 (inclu...,[There are 49155 unique mature microRNAs in th...,"[I am sorry, I cannot fulfill this request. Th...","[There are 6,831,595 gene-miRNA interactions r...",[The minimum probability for miRNA targeting V...,[There are 1492 miRNA target interactions reco...,[The seed sequence for hsa-miR-9-5p is CUUUGGU...,[The query returned multiple probabilities. It...,[There are 95 unique miRNAs that target the ge...,[There are 2 microRNAs that target STIM1 (incl...,[There are 7694 interactions from miRTarBase.\...,[There are 75 unique miRNAs that target the ge...,[There are 2027 unique seed sequences associat...,[The miRNA 'hsa-miR-143-3p' is most highly exp...,[There are 147959 unique genes with miRNA inte...
Question_n,"[1, 2, 12, 9, 8, 7, 11, 16, 12, 7]","[2, 5, 9, 5, 14, 3, 6, 4, 13, 11]","[3, 16, 1, 6, 3, 10, 4, 15, 16, 3]","[4, 1, 7, 11, 11, 13, 7, 13, 14, 8]","[5, 13, 14, 12, 13, 4, 10, 11, 1, 2]","[6, 14, 6, 13, 7, 11, 8, 14, 4, 9]","[7, 10, 3, 16, 10, 1, 12, 10, 3, 13]","[8, 7, 2, 7, 5, 2, 13, 12, 5, 15]","[9, 8, 16, 14, 12, 8, 14, 1, 8, 14]","[10, 11, 11, 10, 4, 15, 2, 2, 10, 5]","[11, 12, 10, 8, 2, 6, 3, 3, 6, 10]","[12, 3, 13, 3, 9, 12, 15, 6, 15, 1]","[13, 15, 15, 15, 6, 9, 9, 5, 9, 4]","[14, 9, 8, 2, 16, 16, 5, 7, 2, 6]","[15, 6, 5, 4, 15, 14, 16, 9, 7, 12]","[16, 4, 4, 1, 1, 5, 1, 8, 11]"

In [17]:
answer_registry[list(answer_registry.keys())[0]].keys()

dict_keys(['Response Time', 'Correct', 'Expected', 'Answers', 'Question_n'])

In [ ]:
# save first_answer_registry to json
with open('/home/karen/Documents/GitHub/MirKatAI/evaluation/results/answer_registry_19.json', 'a') as f:
    json.dump(answer_registry, f)

In [19]:
# evaluate with direct sql calls



def get_answer_time_sql(unique_answer_questions, answers_log = "/home/karen/Documents/GitHub/MirKatAI/evaluation/results/sql_unique.txt", n=1, answer_registry={}):

    for question_row in unique_answer_questions.iterrows():
        question = question_row[1]['Question']
        query = question_row[1]['Query']
        answer, response_time = sql_run(query=query)
        print(answer, response_time)
        #append answer to answers_log
        with open(answers_log, 'a') as log_file:
            log_file.write(f"{question} - try {n} - Answer: {answer}")
        if question in answer_registry:
            answer_registry[question]['Response Time'].append(response_time)
        else:
            answer_registry[question] = {
                'Response Time': [response_time]
            }
        time.sleep(1)
    return answer_registry

In [20]:
# Run directly with SQL calls

answer_registry_sql ={}
for i in range(20):
    answer_registry_sql = get_answer_time_sql(unique_answer_questions=unique_answers_df, n=i, answer_registry=answer_registry_sql)
    time.sleep(2)

2025-10-15 00:09:20,768 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.260816

2025-10-15 00:09:22,039 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.043774

2025-10-15 00:09:23,084 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.037425

2025-10-15 00:09:24,122 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.03621

2025-10-15 00:09:25,159 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.069144

2025-10-15 00:09:32,230 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.056006

2025-10-15 00:09:33,287 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.206815

2025-10-15 00:09:43,494 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.238667

2025-10-15 00:09:53,734 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.190093

2025-10-15 00:10:03,925 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.380984

2025-10-15 00:10:05,307 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.431463

2025-10-15 00:10:06,740 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.044632

2025-10-15 00:10:07,785 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.065596

2025-10-15 00:10:08,851 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.025121

2025-10-15 00:10:09,878 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.649994

2025-10-15 00:10:25,530 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.80501

2025-10-15 00:10:34,337 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.055058

2025-10-15 00:10:35,393 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.037679

2025-10-15 00:10:36,431 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.03857

2025-10-15 00:10:37,471 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.040395

2025-10-15 00:10:38,512 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.140253

2025-10-15 00:10:45,654 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.05577

2025-10-15 00:10:46,710 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.067091

2025-10-15 00:10:56,778 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.071261

2025-10-15 00:11:06,851 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.136212

2025-10-15 00:11:16,988 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.433527

2025-10-15 00:11:18,423 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.431841

2025-10-15 00:11:19,856 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.040963

2025-10-15 00:11:20,898 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.066878

2025-10-15 00:11:21,966 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.023759

2025-10-15 00:11:22,991 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.816577

2025-10-15 00:11:38,809 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.851121

2025-10-15 00:11:47,661 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.05356

2025-10-15 00:11:48,716 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.040509

2025-10-15 00:11:49,757 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.03956

2025-10-15 00:11:50,797 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.034206

2025-10-15 00:11:51,832 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.139942

2025-10-15 00:11:58,973 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.065059

2025-10-15 00:12:00,039 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.095091

2025-10-15 00:12:10,136 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.034426

2025-10-15 00:12:20,171 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 8.99162

2025-10-15 00:12:30,164 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.474626

2025-10-15 00:12:31,640 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.370224

2025-10-15 00:12:33,011 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.035005

2025-10-15 00:12:34,047 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.065334

2025-10-15 00:12:35,113 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.02371

2025-10-15 00:12:36,138 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.675368

2025-10-15 00:12:51,814 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.860565

2025-10-15 00:13:00,676 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.057265

2025-10-15 00:13:01,734 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.040135

2025-10-15 00:13:02,775 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.048985

2025-10-15 00:13:03,829 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.050473

2025-10-15 00:13:04,877 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.211803

2025-10-15 00:13:12,091 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.058076

2025-10-15 00:13:13,150 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.305445

2025-10-15 00:13:23,456 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.239341

2025-10-15 00:13:33,696 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.344154

2025-10-15 00:13:44,042 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.374588

2025-10-15 00:13:45,417 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.386075

2025-10-15 00:13:46,804 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.037487

2025-10-15 00:13:47,842 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.065721

2025-10-15 00:13:48,909 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.025038

2025-10-15 00:13:49,935 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.710613

2025-10-15 00:14:05,647 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.962085

2025-10-15 00:14:14,611 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.056275

2025-10-15 00:14:15,668 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.040112

2025-10-15 00:14:16,709 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.03635

2025-10-15 00:14:17,746 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.038419

2025-10-15 00:14:18,785 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.086554

2025-10-15 00:14:25,873 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.054393

2025-10-15 00:14:26,928 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.35985

2025-10-15 00:14:37,289 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.337392

2025-10-15 00:14:47,628 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.345264

2025-10-15 00:14:57,974 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.373048

2025-10-15 00:14:59,348 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.389977

2025-10-15 00:15:00,740 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.037321

2025-10-15 00:15:01,778 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.064752

2025-10-15 00:15:02,843 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.021842

2025-10-15 00:15:03,865 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.826343

2025-10-15 00:15:19,693 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.853477

2025-10-15 00:15:28,548 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.057272

2025-10-15 00:15:29,606 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.043042

2025-10-15 00:15:30,653 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.034891

2025-10-15 00:15:31,689 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.035809

2025-10-15 00:15:32,725 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.178558

2025-10-15 00:15:39,905 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.054537

2025-10-15 00:15:40,961 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.262227

2025-10-15 00:15:51,223 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.28098

2025-10-15 00:16:01,505 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.161031

2025-10-15 00:16:11,667 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.369656

2025-10-15 00:16:13,038 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.370934

2025-10-15 00:16:14,410 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.035738

2025-10-15 00:16:15,447 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.068984

2025-10-15 00:16:16,516 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.023672

2025-10-15 00:16:17,541 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.668614999999999

2025-10-15 00:16:33,210 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.743799

2025-10-15 00:16:41,955 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.053565

2025-10-15 00:16:43,010 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.040618

2025-10-15 00:16:44,051 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.036378

2025-10-15 00:16:45,089 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.046085

2025-10-15 00:16:46,136 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.020357

2025-10-15 00:16:53,157 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.054677

2025-10-15 00:16:54,212 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.197263

2025-10-15 00:17:04,410 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.084396

2025-10-15 00:17:14,495 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.146978

2025-10-15 00:17:24,643 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.405225

2025-10-15 00:17:26,050 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.369614

2025-10-15 00:17:27,421 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.03917

2025-10-15 00:17:28,461 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.07033

2025-10-15 00:17:29,532 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.025153

2025-10-15 00:17:30,558 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.490971

2025-10-15 00:17:46,050 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.830279

2025-10-15 00:17:54,882 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.053623

2025-10-15 00:17:55,936 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.038167

2025-10-15 00:17:56,975 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.035707

2025-10-15 00:17:58,012 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.036744

2025-10-15 00:17:59,049 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 5.966372

2025-10-15 00:18:06,016 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.058221

2025-10-15 00:18:07,075 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.176945

2025-10-15 00:18:17,254 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.11527

2025-10-15 00:18:27,370 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.120523

2025-10-15 00:18:37,492 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.370029

2025-10-15 00:18:38,862 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.372536

2025-10-15 00:18:40,235 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.036218

2025-10-15 00:18:41,272 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.067897

2025-10-15 00:18:42,341 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.024131

2025-10-15 00:18:43,366 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.563319

2025-10-15 00:18:58,930 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.707271

2025-10-15 00:19:07,639 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.062792

2025-10-15 00:19:08,703 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.037431

2025-10-15 00:19:09,741 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.03793

2025-10-15 00:19:10,779 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.033737

2025-10-15 00:19:11,813 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.083589

2025-10-15 00:19:18,898 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.053638

2025-10-15 00:19:19,953 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.106819

2025-10-15 00:19:30,061 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.087062

2025-10-15 00:19:40,149 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.186475

2025-10-15 00:19:50,336 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.432787

2025-10-15 00:19:51,770 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.368377

2025-10-15 00:19:53,140 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.038343

2025-10-15 00:19:54,179 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.067033

2025-10-15 00:19:55,247 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.029032

2025-10-15 00:19:56,277 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.656654

2025-10-15 00:20:11,935 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.874288

2025-10-15 00:20:20,811 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.05508

2025-10-15 00:20:21,866 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.036244

2025-10-15 00:20:22,904 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.037963

2025-10-15 00:20:23,943 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.036996

2025-10-15 00:20:24,981 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.087103

2025-10-15 00:20:32,069 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.060243

2025-10-15 00:20:33,130 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.111323

2025-10-15 00:20:43,242 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.115903

2025-10-15 00:20:53,360 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.194132

2025-10-15 00:21:03,555 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.431898

2025-10-15 00:21:04,988 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.43289

2025-10-15 00:21:06,422 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.037567

2025-10-15 00:21:07,460 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.072027

2025-10-15 00:21:08,533 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.025084

2025-10-15 00:21:09,559 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.660259

2025-10-15 00:21:25,220 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.758982

2025-10-15 00:21:33,980 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.054311

2025-10-15 00:21:35,035 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.037967

2025-10-15 00:21:36,074 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.037658

2025-10-15 00:21:37,113 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.035928

2025-10-15 00:21:38,149 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.141507

2025-10-15 00:21:45,292 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.052768

2025-10-15 00:21:46,345 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.205454

2025-10-15 00:21:56,552 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.186017

2025-10-15 00:22:06,739 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.237197

2025-10-15 00:22:16,977 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.376811

2025-10-15 00:22:18,355 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.387064

2025-10-15 00:22:19,743 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.037805

2025-10-15 00:22:20,782 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.066573

2025-10-15 00:22:21,849 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.024515

2025-10-15 00:22:22,874 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.709279

2025-10-15 00:22:38,585 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.859142

2025-10-15 00:22:47,445 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.058805

2025-10-15 00:22:48,505 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.042161

2025-10-15 00:22:49,548 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.038301

2025-10-15 00:22:50,587 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.038865

2025-10-15 00:22:51,626 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.031828

2025-10-15 00:22:58,659 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.05307

2025-10-15 00:22:59,713 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.308755

2025-10-15 00:23:10,023 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.245395

2025-10-15 00:23:20,269 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.263032

2025-10-15 00:23:30,533 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.402274

2025-10-15 00:23:31,937 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.432579

2025-10-15 00:23:33,371 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.037382

2025-10-15 00:23:34,409 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.066944

2025-10-15 00:23:35,477 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.024443

2025-10-15 00:23:36,502 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.710065

2025-10-15 00:23:52,213 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.63857

2025-10-15 00:24:00,853 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.062696

2025-10-15 00:24:01,916 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.038815

2025-10-15 00:24:02,956 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.040925

2025-10-15 00:24:03,997 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.042866

2025-10-15 00:24:05,041 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.036513

2025-10-15 00:24:12,079 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.059924

2025-10-15 00:24:13,139 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.202869

2025-10-15 00:24:23,343 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.185252

2025-10-15 00:24:33,530 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.100358

2025-10-15 00:24:43,631 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.420195

2025-10-15 00:24:45,053 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.437977

2025-10-15 00:24:46,493 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.039903

2025-10-15 00:24:47,533 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.068202

2025-10-15 00:24:48,602 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.024184

2025-10-15 00:24:49,627 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.437133

2025-10-15 00:25:05,066 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.713336

2025-10-15 00:25:13,780 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.071186

2025-10-15 00:25:14,852 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.047719

2025-10-15 00:25:15,901 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.035989

2025-10-15 00:25:16,938 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.03716

2025-10-15 00:25:17,976 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.139086

2025-10-15 00:25:25,116 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.055625

2025-10-15 00:25:26,172 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.105965

2025-10-15 00:25:36,279 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.215075

2025-10-15 00:25:46,495 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.136761

2025-10-15 00:25:56,633 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.410688

2025-10-15 00:25:58,045 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.37993

2025-10-15 00:25:59,426 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.040741

2025-10-15 00:26:00,468 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.086919

2025-10-15 00:26:01,555 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.024883

2025-10-15 00:26:02,581 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.494813

2025-10-15 00:26:18,077 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.799324

2025-10-15 00:26:26,878 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.054289

2025-10-15 00:26:27,933 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.036696

2025-10-15 00:26:28,970 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.042283

2025-10-15 00:26:30,014 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.034484

2025-10-15 00:26:31,049 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.088619

2025-10-15 00:26:38,139 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.054773

2025-10-15 00:26:39,194 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.175224

2025-10-15 00:26:49,370 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.239227

2025-10-15 00:26:59,611 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.240659

2025-10-15 00:27:09,853 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.372324

2025-10-15 00:27:11,226 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.38993

2025-10-15 00:27:12,618 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.038519

2025-10-15 00:27:13,657 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.065742

2025-10-15 00:27:14,724 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.026108

2025-10-15 00:27:15,752 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.807923

2025-10-15 00:27:31,561 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.86375

2025-10-15 00:27:40,426 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.057065

2025-10-15 00:27:41,484 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.039768

2025-10-15 00:27:42,525 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.03715

2025-10-15 00:27:43,562 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.035262

2025-10-15 00:27:44,599 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.13405

2025-10-15 00:27:51,734 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.053851

2025-10-15 00:27:52,788 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.107046

2025-10-15 00:28:02,897 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.137965

2025-10-15 00:28:13,035 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.1358

2025-10-15 00:28:23,172 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.370454

2025-10-15 00:28:24,544 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.392323

2025-10-15 00:28:25,937 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.285961

2025-10-15 00:28:27,225 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.067626

2025-10-15 00:28:28,293 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.038284

2025-10-15 00:28:29,332 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.55752

2025-10-15 00:28:44,891 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.748423

2025-10-15 00:28:53,640 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.057067

2025-10-15 00:28:54,699 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.046945

2025-10-15 00:28:55,748 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.044844

2025-10-15 00:28:56,793 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.037906

2025-10-15 00:28:57,832 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.119495

2025-10-15 00:29:04,953 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.056524

2025-10-15 00:29:06,010 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.029497

2025-10-15 00:29:16,040 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.108854000000001

2025-10-15 00:29:26,151 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.033809

2025-10-15 00:29:36,186 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.432804

2025-10-15 00:29:37,620 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.367678

2025-10-15 00:29:38,989 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.038264

2025-10-15 00:29:40,028 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.078338

2025-10-15 00:29:41,107 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.026348

2025-10-15 00:29:42,134 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.759763

2025-10-15 00:29:57,895 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.861137

2025-10-15 00:30:06,758 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.056166

2025-10-15 00:30:07,815 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.041144

2025-10-15 00:30:08,857 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.035211

2025-10-15 00:30:09,893 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.040305

2025-10-15 00:30:10,934 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.107787

2025-10-15 00:30:18,043 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.054629

2025-10-15 00:30:19,098 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.131914

2025-10-15 00:30:29,231 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.139093

2025-10-15 00:30:39,371 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.134514

2025-10-15 00:30:49,507 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.432819

2025-10-15 00:30:50,940 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.37005

2025-10-15 00:30:52,312 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.037682

2025-10-15 00:30:53,351 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.068805

2025-10-15 00:30:54,420 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.023803

2025-10-15 00:30:55,446 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.474961

2025-10-15 00:31:10,922 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.846809

2025-10-15 00:31:19,770 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.054405

2025-10-15 00:31:20,826 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.038127

2025-10-15 00:31:21,865 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.037487

2025-10-15 00:31:22,903 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.038707

2025-10-15 00:31:23,942 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 5.901111

2025-10-15 00:31:30,845 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.055022

2025-10-15 00:31:31,900 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.12409

2025-10-15 00:31:42,025 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.151589

2025-10-15 00:31:52,178 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.135936

2025-10-15 00:32:02,316 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.431961

2025-10-15 00:32:03,750 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.432753

2025-10-15 00:32:05,184 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.037408

2025-10-15 00:32:06,222 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.068907

2025-10-15 00:32:07,292 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.025907

2025-10-15 00:32:08,319 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.705392

2025-10-15 00:32:24,025 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.625805

2025-10-15 00:32:32,653 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT auto_mature) FROM mirna_mature;)
Results from SQL are: [(49168,)]
[(49168,)] 0.05474

2025-10-15 00:32:33,708 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]
[('Merkel cell polyomavirus',)] 0.039663

2025-10-15 00:32:34,749 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE mirna_mature = 'hsa-miR-143-3p')
Results from SQL are: [(1492,)]
[(1492,)] 0.037741

2025-10-15 00:32:35,788 - INFO -  - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)

 - DB CALL: execute_query(Select seed from mirna_seeds where auto_mature = 'hsa-mir-9-5p';)
Results from SQL are: [('CUUUGGU',)]
[('CUUUGGU',)] 0.035843

2025-10-15 00:32:36,824 - INFO -  - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)

 - DB CALL: execute_query(SELECT count(*) FROM gene_mirna WHERE source = 'mirTarBase';)
Results from SQL are: [(7694,)]
[(7694,)] 6.065612

2025-10-15 00:32:43,893 - INFO -  - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)

 - DB CALL: execute_query(select * from gene_mirna where mirna_mature = 'hsa-mir-22-3p' and (mrna = 'SIRT1' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'SIRT1'));)
Results from SQL are: [('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)]
[('SIRT1', '', 'TTTTTCCAAAACTTGTGGCAGCTA', 'mirTarBase', 'hsa-miR-22-3p', 0.0), ('NM_001142498', '', '', 'miRDB', 'hsa-miR-22-3p', 93.5639), ('NM_012238', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138), ('NM_001314049', '', '', 'miRDB', 'hsa-miR-22-3p', 87.6138)] 0.056675

2025-10-15 00:32:44,950 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'GRM5' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'GRM5'); )
Results from SQL are: [(307,)]
[(307,)] 9.101542

2025-10-15 00:32:55,053 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'FEZ2' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'FEZ2');)
Results from SQL are: [(75,)]
[(75,)] 9.137837

2025-10-15 00:33:05,192 - INFO -  - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)

 - DB CALL: execute_query(select count(distinct mirna_mature) from gene_mirna where mrna = 'STUM' or mrna in (Select refseq_mrna from gene_names where gene_symbol = 'STUM');)
Results from SQL are: [(278,)]
[(278,)] 9.136095

2025-10-15 00:33:15,329 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'FEZ2'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(2,)]
[(2,)] 0.369187

2025-10-15 00:33:16,700 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT mt.mirna) AS num_mirnas_targeting_fez2_in_muscle FROM     mirna_tissues mt JOIN     gene_mirna gm ON mt.mirna = gm.mirna_mature JOIN     gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE     gn.gene_symbol = 'STUM'     AND mt.system = 'musculoskeletal'     AND mt.system_TSI > 0.5;)
Results from SQL are: [(4,)]
[(4,)] 0.374392

2025-10-15 00:33:18,075 - INFO -  - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)

 - DB CALL: execute_query(select mt.organ from mirna_tissues mt where mt.mirna = 'hsa-mir-143-3p';)
Results from SQL are: [('bladder',)]
[('bladder',)] 0.037293

2025-10-15 00:33:19,113 - INFO -  - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)

 - DB CALL: execute_query(SELECT     COUNT(DISTINCT ms.seed) AS unique_human_seed_sequences FROM     mirna_seeds ms JOIN     mirna m ON ms.auto_mature = m.mirna_id JOIN     mirna_species msp ON m.auto_species = msp.auto_id WHERE     msp.name = 'Homo sapiens'; -- Or the exact string for human in your species table)
Results from SQL are: [(699,)]
[(699,)] 0.069147

2025-10-15 00:33:20,183 - INFO -  - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )

 - DB CALL: execute_query(select min(gm.probability)  from gene_mirna gm where gm.mrna in (select refseq_mrna from gene_names where gene_symbol = 'VEGFA') or gm.mrna = 'VEGFA' and gm.source = 'miRDB'; )
Results from SQL are: []
[] 0.025758

2025-10-15 00:33:21,210 - INFO -  - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(*) FROM gene_mirna WHERE source = 'miRDB';)
Results from SQL are: [(6831595,)]
[(6831595,)] 14.623516

2025-10-15 00:33:36,835 - INFO -  - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)

 - DB CALL: execute_query(SELECT COUNT(DISTINCT gn.gene_symbol) AS unique_gene_symbols_with_mirdb_interactions FROM gene_mirna gm JOIN gene_names gn ON gm.mrna = gn.RefSeq_mRNA WHERE gm.source = 'miRDB';)
Results from SQL are: [(17352,)]
[(17352,)] 5.756081

In [21]:
answer_registry_sql
# save first_answer_registry to json
with open('/home/karen/Documents/GitHub/MirKatAI/evaluation/results/answer_registry_sql_7.json', 'w') as f:
    json.dump(answer_registry_sql, f)

In [ ]:
db_tools.execute_query(sql="Select name from mirna_species group by name having count(distinct organism) >1;", query_name="query")

2025-10-13 21:00:40,261 - INFO -  - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)

 - DB CALL: execute_query(Select name from mirna_species group by name having count(distinct organism) >1;)
Results from SQL are: [('Merkel cell polyomavirus',)]

[('Merkel cell polyomavirus',)]

In [ ]:
unique_answers_df['Question'].values

array(['How many unique mature microRNAs are in the database?',
       'Which species from the database is marked with two or more organisms',
       "How many miRNA target interactions are recorded for the miRNA 'hsa-miR-143-3p'?",
       "What is the seed sequence for 'hsa-miR-9-5p'?",
       "How many interactions are experimentally validated (source is 'miRTarBase')?",
       "What is the probability for the predicted interaction between 'hsa-miR-22-3p' and the gene 'SIRT1' including its reference sequences (refseq)?",
       "How many unique miRNAs target the gene 'GRM5'  including its reference sequences ?",
       "How many unique miRNAs target the gene 'FEZ2'  including its reference sequences ?",
       "How many unique miRNAs target the gene 'STUM'  including its reference sequences ?",
       'How many mirnas that target FEZ2 ( including its reference sequences) are also expressed in muscle with a organ_TSI > 0.5',
       'How many mirnas that target STUM ( including its reference sequences ) are also expressed in muscle with a organ_TSI > 0.5',
       "In which tissue is the miRNA 'hsa-miR-143-3p' most highly expressed\xa0",
       'How many unique seed sequences are associated with human miRNAs?',
       "What is the minimum interaction score recorded for any miRNA targeting the gene 'VEGFA'  including its reference sequences ?",
       "How many gene-miRNA interactions are recorded that originate from the database 'miRDB'?",
       "How many gene-miRNA interactions are recorded that originate from the database 'miRDB' from unique gene symbols?"],
      dtype=object)